.about__achievements {
    margin-top: 2rem;
    padding: 3rem;
}

.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 5rem;
}

.about_achievements-right>p {
    margin: 1.6rem 0 2.5rem;

}

.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement__card {
    background: var(--color-bg1);
    padding: 1.6rem;

    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement__card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon {
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement__card:nth-child(2) .achievement__icon {
    background: var(--color-success);
}

.achievement__card:nth-child(3) .achievement__icon {
    background: var(--color-primary);
}


.achievement__card p {
    margin-top: 1rem;
}



/* =====================TEAMS====================== */
section {
    margin: 1rem;
    background-color: #3D4067;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}

.developerteam {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgb(0 0 0 / 50%);
    padding: 2rem;
}

.developerteam h2 {
    text-align: center;
    padding: 0 1rem 2rem 1rem;
}

.developerteam__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.developerteam__member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.developerteam__member:hover {
    background: transparent;
    border-color: var(--color-primary);
}



.developerteam__member-img img {
    filter: saturate(0);
}

.developerteam__member:hover img {
    filter: saturate(1);
}

.developerteam__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.developerteam__member-info p {
    color: var(--color-light);
}

.developerteam__member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.developerteam__member:hover .developerteam__member-socials {
    right: 0;
}

.developerteam__member-socials a {
    padding: 1rem;
}


/* MEdia Queries */

@media screen and (max-width:1024px) {

    .developerteam__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .developerteam__member {
        padding: 1rem;
    }
}

/* Media Queries for Mobile */
@media screen and (max-width:600px) {

    .developerteam__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .developerteam__member {
        padding: 0;

    }

    .developerteam__member p {
        margin-bottom: 1.5rem;
    }

}
@media only screen and (max-width: 400px){
    .about__achievements{
        padding: 0;
        margin-top: 4rem;
    }
    .about__achievements-container{
        grid-template-columns: repeat(1,1fr);
        margin: 0;
    }
    .about_achievements-right{
        padding: .4rem;
    }
    .about_achievements-right h1{
        font-size: 2rem;
        margin-left: 10px;
    }
    .achievements__cards{
       display: flex;
       justify-content: space-evenly;
       gap: 1rem;
    }
    .achievement__icon{
        display: none;
    }

}