
.notes {
    background: var(--color-bg1);
    padding: 2rem;
    top: 0;
    margin-top: 80px;
    margin-bottom: 10rem;
}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}
.categories__left {
    margin-right: 2rem;
}

.categories__left p {
    margin: 1rem 0 3rem;
    text-align: start;

}

.categories__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.category {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.category img{
    width: 60px;
    height: 60px;
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.category h5 {
    margin: 1rem 0 1rem;
}

.category p {
    font-size: 0.85rem;
}