.paper {
   position: relative;
    background: transparent;
    z-index: 2;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.paper::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -1;
    background: #181d56eb;
    filter: blur(142px);
}
.paperlinkParent{
    margin: 2rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.paperlinkParent b{
    font-size: 2rem;
    color:white;
    position: relative;
    left: 15%;
    align-self: flex-start;
    margin-bottom: 1rem;

}

.paperlink{
    width: 70%;
    font-size: 2rem;
    background: linear-gradient(45deg, black, transparent);
    border-radius: 10px;
}
.titlelink{
    padding: 1rem;
}
.titlelink h6{
    color: white;
    font-size: 2rem;
}
.paper h1 {
    margin-top: 50px;
    color: white;
    font-size: 35px;
}

.paper img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.paper p {
    font-size: 40px;
   color:white
}

.paper svg {
    font-size: 60px;
    color: white;
}
.paperlinkdetails{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 68%;
}
.paperteacher{
    margin-left: 2rem;
    font-size: 1.9rem;
    font-weight: 900;
    color: white;
}

.paperlinkquestion{
    display: flex;
    align-items: center;
    align-content: space-evenly;
    width: 64%;
}

.paperlinkquestiontitle{
    font-weight: bold;
    font-size: 2rem;
}

.paperlinkquestionimg{
    align-self: flex-end;
    margin-left: 1rem;
}