.profile__page__container {
    margin-top: 2rem;
    width: 100%;
}

section {
    margin: 0;
    padding: 2.5rem;
}

.profile__top__details__section {
    display: flex;
    justify-content: space-around;
}

.profile__card__box {
    padding: 1.5rem 2rem;
    background: white;
    border-radius: 1rem;
    box-shadow: inset 0 0 20px 20px #00000021;
    margin: 0 1rem;
}

.profile__image {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circular__image {
    margin-bottom: 1rem;
    position: relative;
}
.circular__image img{
    transition: all 0.7s ease-in-out;
    aspect-ratio: 3/4;
}
.profile__image__original.active{
    z-index: 1;
    transform: scale(0.7)translate(-30%, -15%);
}
.profile__image__original.active:hover{
    z-index: 2;
}
.profile__image__new{
    opacity: 0;
    top: 0;
    z-index: 2;
    display: none;
}
.profile__image__new.active{
    opacity: 1;
    display: block;
    position: absolute;
    animation: popupImage 0.7s ease;
    transform: scale(0.7)translate(30%, 15%);
}
@keyframes popupImage {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(0.7)translate(30%, 15%);
    }
}
.profile__image__name {
    color: #6b63ff;
}

.profile__change__buttons {
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    background: rgb(62 64 103);
    color: white;
    border-radius: 1rem;
}

.profile__image__change{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.profile__image__change button {
    margin-top: 0.5rem;
}

.profile__details {
    flex: 7;
    padding: 0.6rem 1.5rem;

}

.single__profile__detail {
    display: flex;
    padding: 0.7rem;
    margin-bottom: .1rem;
    align-items: center;
}

.single__profile__detail h3 {
    flex: 2;
    color: black;

}

.single__profile__detail p {
    flex: 6;

}
.single__profile__detail input{
    flex: 6;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
}

.profile__details hr {
    border: 1.1px solid #6b63ff;
    background: #6b63ff;
    margin-top: .3rem;
    margin-bottom: .2rem;
}

.profile__details__change {
    margin: 1rem 0.5rem;
}

.profile__details__change .cancel__button{
    margin-right: 0.6rem;
}


/* second section */
.profile__page__second__section {
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-around;

}

.profile__social__links {
    flex: 4;

}

.profile__social__links hr {
    border: 1px solid lightslategray;
    margin-top: 0.4rem;
}

.profile__batch__details {
    flex: 6;
}

.profile__social__detail {
    padding: 0.6rem;
}

.profile__social__name {
    display: flex;
    align-items: center;
}

.profile__social__name p {
    margin-left: 0.2rem;
    color: #1e2641;
    font-weight: 700;
}

.profile__social__id {
    color: slategray;
}

.profile__batch__details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.profile__batch__info {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile__info__data {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}

.profile__info__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ff9e00;
    color: darkmagenta;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    .profile__top__details__section{
        flex-direction: column;
        row-gap: 2rem;
    }
    .single__profile__detail{
        flex-direction: column;
    }
    .single__profile__detail p{
        font-size: 0.7rem;

    }
    .profile__page__second__section{
        flex-direction: column;
        row-gap: 2rem;
    }
    .profile__social__detail{
        padding: 0.1rem;
    }
    .profile__social__id{
        font-weight: 100;
        font-size: 0.75rem;
    }
    .profile__batch__details{
        flex-direction: column;
    }
    .profile__batch__info p{
        text-align: center;
    }
}