.login-page-container {
    padding-top: 3rem;
    width: 100%;
    min-height: 90vh;
    margin: 5rem 5rem 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 80%;
    height: 80%;
    position: absolute;
}

.blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 80%;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 5px 45px rgb(0 0 0 / 15%);
}

.blueBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blueBg .box h2 {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blueBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.loginPage {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage p {
    font-size: 30px;
}

/* GOOGLE BUTTOn */
.login-with-google-btn {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 5px 16px 12px 42px;
    margin: 10px 0px 25px 0px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 25px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-with-google-btn .google-image {
    object-fit: contain;
    display: inline;
    margin-left: 5px;
    width: 1.2rem;
    height: 1.2rem;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
        0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.formBx {
    position: absolute;
    top: 40px;
    left: 0;
    width: 50%;
    height: 80%;
    background: #fff;
    z-index: 1000;
    display: flex;
    /* margin-left: 3rem; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgb(0 0 0 / 25%);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active {
    left: 50%;

}

.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .signinForm {
    transition-delay: 0.25s;
}

.formBx.active .signinForm {
    left: -100%;
    transition-delay: 0s;
}

.formBx .signupForm {
    left: 100%;
    transition-delay: 0s;
}

.formBx.active .signupForm {
    left: 0;
    transition-delay: 0.25s;
}

.formBx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .form form h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.formBx .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}

.formBx .form form input[type="submit"] {
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}

.formBx.active .signupForm input[type="submit"] {
    background: #f43648;
}

.formBx .form form .forget {
    color: #333;
}

@media (max-widht:991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .blueBg {
        top: 0;
        height: 500px;
    }

    .formBx {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }

    .blueBg .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .box.signin {
        top: 0;
    }

    .formBx.active {
        left: 0;
        top: 150px;
    }
}

@media only screen and (max-width: 400px) {
   .login-container .formBx{
    
   }

}