nav{
    height: 3.5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
/* only show on mediumm and small screens */
.nav__toggle-btn{
    display: none;
}
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.logo{
    width: 4rem;
    
}

.nav__links{
    display: flex;
    gap: 3.5rem;
}
.nav__links a{
    transition: var(--transition);
}
.nav__links li p{
    color: var(--color-gray-100);
    cursor: pointer;
}
.nav__links a:hover{
   color: var(--color-secondary);
}
.active-nav{
    position: relative;
}

.active-nav::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-primary);
    position: absolute;
    left: calc(50%-0.6rem);
    transform: rotate(45deg);
    margin-top: 0.2rem;
}


/* login logout profile dropdown */



/* login logout profile dropdown */

/* Media Queries */



/* Drop down profile */
.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 300rem;
    cursor: pointer;
    margin-left: 1rem;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: -10%;
    /* width: 320px; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background:var(--color-primary);;
    padding: 12px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h2{
    font-weight: 500;
    font-size: 1.5rem;
}
.user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0 ;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sub-menu-link-icon{
    transition: all 0.5s ease !important;
    font-size: xxx-large !important;
}
.sub-menu-link-icon:hover{
    font-size: xx-large !important;
}
.sub-menu-link:hover + .sub-menu-link-id,
.sub-menu-link-icon:hover + .sub-menu-link-id{
    opacity: 1;
    font-size: 100%;
}


.sub-menu-link-id{
    width: 100%;
    opacity: 1;
    font-size: 0%;
    transition: all .8s ease !important;
}


.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

@media screen and (max-width:1024px) {
    .nav__toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .nav__toggle-btn svg{
        color: var(--color-gray-100);
    }

    .nav__links{
        position: absolute;
        top: 100%;
        right: -51px;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }
    .active-nav, .active-nav::after{
        display: none;
    }
    .nav__links li{
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0,0,0,0.4);
        animation: navAnimation 600ms ease-in forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .nav__links li:nth-child(2){
        animation-delay: 50ms;
    }
    .nav__links li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav__links li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav__links li:nth-child(4){
        animation-delay: 600ms;
    }
    .nav__links li:nth-child(5){
        animation-delay: 800ms;
    }
    .nav__links li:nth-child(6){
        animation-delay: 1s;
    }
    .nav__links li:nth-child(7){
        animation-delay: 1.2s;
    }
    .nav__links li:nth-child(8){
        animation-delay: 1.2s;
    }
    .nav__links li:nth-child(9){
        animation-delay: 1.2s;
    }
    .nav__links li:nth-child(10){
        animation-delay: 1.2s;
    }
    @keyframes navAnimation {
        to{
            transform: rotateX(0);
            opacity: 1;
        }
    }
    @keyframes ellipsis {
        to {
          width: 40px;
        }
      }
    .nav__links li a{
        background: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .show__nav{
        display: flex;
    }
    .hide__nav{
        display: none;
    }

}