.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
}

.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course .course__image img{
    width: 100%;
}

.course:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.course__info {
    padding: 2rem;
}
.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

@media screen and (max-width:400px){
    .courses .courses__container{
        grid-template-columns: repeat(1,1fr);
    }
}