.mySwiper1 {
  width: 240px;
  height: 320px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}


.slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
.view{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.notices h1{
  text-align: center;
  margin-bottom: 2rem;
}

.notices{
  margin-top: -8rem;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  background: var(--color-bg);
}