
.verifystudent{
    width: 100%;
    background: rgb(20, 23, 68);
    border-radius: 15px;
    margin-top: 5rem;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.verifytable{
    border-spacing: 0px;
    padding: 2rem;
    padding-top: 0;
}
.verifyhead{
    background: rgb(0, 255, 110);
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
.verifybody{
    color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
}
.verifybody tr{
    border: 2px dashed blue;
}
.verifystudent td{
    padding: 15px;
    display: table-cell !important;
    width: auto !important;
}
.verifystudent td .student_emails {
    text-align: left !important;
}
.verifystudent .student_emails_title {
    margin-bottom: 2px;
    color: bisque;
}
.verifystudent .student_emails_email {
    font-family: Calibri;
    font-weight: lighter;
    
}

.verifystudent td .student_image{
    max-height: 100px;
    object-fit: contain;
}

.verifystudent .table_action_body:first-child{
    margin-right: 20px;
}

.modalimagepreview{
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
}

