.skeleton{
    background-image: linear-gradient(
      90deg,
      #eee 0%, #eee 40%,
      #ddd 50%, #ddd 55%,
      #eee 65%, #eee 100%
    );
    background-size: 400%;
    animation: skeleton 1.5s infinite;
  }

  @keyframes skeleton{
    from{
      background-position: 100%;
    }
    to{
      background-position: 0%;
    }
  }